node_modules/
*debug.log
build/
raw/
.history
*.backup
.vscode
.idea
cli/index.generated.js
src/diagnosticMessages.generated.ts
coverage/

dist/*.generated.d.ts
dist/*.map
dist/asc.js
dist/assemblyscript.js
dist/importmap.json
dist/web.js
